/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-emfl-tab-control {
  background: transparent;
  color: $black;
  margin: 0 auto;
  width: 100%;

  div.guten-tab-holder {
    .guten-tab-items {
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        width: 100%;
        border-bottom: 1px solid $gray;

        li {
          display: inline-block;
          margin: 0 .05rem;
          list-style: none;
          background: $gray;
          color: $black;
          padding: .35rem 1.5rem;
          cursor: pointer;
          border-top-left-radius: .5rem;
          border-top-right-radius: .5rem;
          border-bottom: 1px solid #cfcfcf;
          font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
          font-size: 70%;
          font-weight: bold;

          &:first-child {
            margin-left: 0;
            background: chocolate;
            color: $white;
            border-bottom: 1px solid brown;
          }

          &.active {
            background: chocolate;
            color: $white;
            border-bottom: 1px solid brown;
          }
        }
      }
    }

    h3 {
      margin: 1rem auto;
      font-weight: normal;
      text-transform: uppercase;
      color: inherit;
      font-size: 98%;
    }

    p {
      margin: 1rem auto;
      font-size: 78%;
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    .wp-block-emfl-tab-content {
      width: 100%;
      background: $white;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 1.5rem .6rem;
      border: 1px solid $gray;
      border-top: 0;

      .guten-tab-content {
        width: 95%;
        margin: 0 auto;

        ul {
          margin: 1rem 0;
          padding: .75rem;
          list-style: none;
          background: #fff;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          -webkit-border-radius: .5rem;
          -moz-border-radius: .5rem;
          border-radius: .5rem;
          box-shadow: 2px 2px #ddd;

          li {
            font-size: 75%;
            margin: 0;
            padding: 0;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

            &:before {
              font-family: "FontAwesome";
              content: "\f192";
              padding-right: .6rem;
              color: #adadad;
            }
          }
        }

        figure {
          margin: 0 auto;
          padding: 0;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;

          img {
            margin: 0 auto;
            -webkit-border-radius: .5rem;
            -moz-border-radius: .5rem;
            border-radius: .5rem;
            box-shadow: 2px 2px #cdcdcd;
          }
        }

        h3 {
          font-size: 80%;
          font-weight: bold;
          letter-spacing: .025rem;
          color: chocolate;
          margin: 0 0 1.26rem 0;

          &:before {
            font-family: "FontAwesome";
            content: "\f0a4";
            padding-right: .6rem;
            color: $black;
          }
        }

        div {
          font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
          font-size: 80%;
        }
      }
    }
  }
}

.tab-control-editor-list {
  font-size: 15px;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      display: inline-block;
      background: $black;
      color: $white;
      padding: .25rem .7rem;
      margin: 0 .25rem;
    }
  }
}
